html {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  color: #D14334;
  font-size: 40px;
  text-align: center;
  background-color: #FFF7DF;

}


.col {
  border: solid #FFF7DF;
}

.card {
  height: 20vh;
  border: solid #FFF7DF;
  border-radius: 10%;
  background-color: #D14334;
  transition: 2s;
}

.card:hover {
  border-color: #D14334;

}

.revealed {
  border-color: yellowgreen;
  background-color: #FFF7DF;
  transition: 2s;
}

.card-text {
  position: relative;
  top: 40%;
  text-align: center;
  font-size: 70%;
}

.player1 {
    border-color: #885053;
    color: #885053;
}

.player2 {
  border-color: #777DA7;
  color: #777DA7;  
}

.player1:hover {
    border-color: #885053;
}

.player2:hover {
  border-color: #777DA7;  
}

